<h1> <%= @genre.name + " Songs" %></h1>

<ul>
    <% @genre.songs.each do |song| %>
        <li><%= song.name + " - " + song.artist.name %></li>
        <% end %>
</ul>

<h5><%= link_to "Edit Genre", edit_genre_path %></h5>

<h5><%= link_to "List of Genres", genres_path %> </h5>